body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
}

.block {
    width: 30vw;
    height: 30vw;
    background-color: antiquewhite;
    color: #333;
    padding: 1rem;
}

.left {
    float: left;
    margin-right: 0.7rem;
}

.right {
    float: right;
    margin-right: 0.7rem;
}